.content {
  width: 100%;
  background-color: #7fffd4;
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}


.names {
  height: 100%;
  overflow-x: auto;
  width: 16%;
}


.names::-webkit-scrollbar {
  width: 4px;               /* ширина scrollbar */
}
.names::-webkit-scrollbar-track {
  background: rgb(255, 255, 255,0);        /* цвет дорожки */
}
.names::-webkit-scrollbar-thumb {
  background-color: blue;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
}

.messages{
  width: 83%;
  height: 100%;
}

.inputMessage{
  width: 200px;
  height: 20px;
  outline: 0;
  padding-left: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 500;
}

.inputMessage::placeholder{
  font-size: 15px;
  font-weight: 500;
}

.btnAddMessage{
  width: 150px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
}