.content {
  width: 100%;
  background-color: #7fffd4;
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}


.names {
  height: 100%;
  overflow-x: auto;
  width: 16%;
}


.names::-webkit-scrollbar {
  width: 4px;               /* ширина scrollbar */
}
.names::-webkit-scrollbar-track {
  background: rgb(255, 255, 255,0);        /* цвет дорожки */
}
.names::-webkit-scrollbar-thumb {
  background-color: blue;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
}

.messages{
  width: 83%;
  height: 100%;
}