
/* friends */

.block_friends{
  height: 50px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.fr_item{
  width: 40px;
  font-weight: 500;
  cursor: pointer;
}

.fr_img{
  background-color: orange;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  margin: auto;
}

.fr_name{
  font-size: 13px;
  text-align: center;
  margin-top: 0.2rem;
}