.content {
  width: 97%;
  background-color: #7fffd4;
  padding: 1rem;
  overflow: hidden;
}

.users{
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

/* useritem */

.user_item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 10px;
  transition: all 0.4s;
}

.user_item:hover {
  -webkit-box-shadow: -2px 0px 20px 11px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 0px 20px 11px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0px 20px 11px rgba(0, 0, 0, 0.2);
}




.user_img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 35px;
  background-color: orange;
}

.user_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.follow_btn {
  width: 100px;
  height: 25px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 0.5rem;
}

.img_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.user_info div{
  margin-bottom: 1rem;
}

.name{
  font-weight: 600;
  font-size: 20px;
}

.location{
  font-weight: 500;
  font-size: 18px;
}

.status{
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 0;
}

.buttons_page{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 1rem;
  transition: all 0.3s;
  overflow-y: auto;
}

.buttons_page div:hover{
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.3s;
}

.buttons_page div{
  transition: all 0.3s;
  cursor: pointer;
  margin-left: 1rem;
}

.buttons_page div:first-child{
  margin-left: 0;
}

.selected_page{
  text-decoration: underline;
  font-weight: 700;
  font-size: 21px;
}


