.header img {
    width: 30px;
    height: auto;
}

.header {
    background-color: #7fffd4;
    height: 50px;
    padding: 0.1rem;
    display: flex;
    align-items: center;
}

.container{
    width: 1200px;
    margin: auto;
}

.loginButton{
    background-color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.block_info_auth{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.userName{
    font-weight: 600;
    font-size: 20px;
}