.nav {
  width: 18%;
  background-color: #7fffd4;
  display: flex;
  flex-direction: column;
  height: 200px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-left: 1rem;
}

.nav a.active{
  text-decoration: underline;
}