@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.app_wrapper{
  max-width: 1200px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}


.app_inner{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}



